.sidebar{
    border-right:1px solid var(--twitter-background) ;
    flex: 0.3;
    position: fixed; /* This will fix the sidebar in place */
    top: 0; /* Align to the top of the page */
    left: 0; 
    height: 100vh;
    z-index: 1000;
    width: 240px!important;
    margin-top: 10px;
    margin-left: 85px;
    padding-right: 40px;
    background-color: white; 
}
.main-content {
    margin-left: 240px; /* Same width as the sidebar */
}
.sidebar_twitterIcon{
    font-size: 30px !important;
    margin-left: 10px;
}
.sidbar_tweet{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 55px !important;
    width: 95% !important;
    font-size: 16px !important;
    margin-top: 10px !important;
}
.sidebar>.profile_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 9999px;
    padding: 10px 10px 0 10px;
    margin-top: 20px;
}
.user_info{
    margin-left: 10px;

}
.subUser_info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub>.one{
    font-weight: 700;
    font-size: 15px;
}
.sub>.two{
    font-size: 10px;
    font-weight: 600;
}
.user_info>.one{
    font-size: 15px;
    font-weight: 700;
}
.user_info>.two{
    font-size: 10px;
    font-weight: 500;
}

@media screen and (max-width:688px) {
    .sidebar{
        display: none;
    }
    
}