.sidebarOptions{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    min-width: 200px;
}
.sidebarOptions:hover{
    background-color: rgb(237, 234, 234);
    margin-right: 15px;
    border-radius: 30px;
    transition: color 100ms ease-out;
}


.sidebarOptions>h2{
    font-weight: 600;
    font-size: 20px;
margin-right: 20px;
}
.done_icon{
    color: var(--twitter-color) !important;
}
@media screen and  (max-width:688px){
    .sidebar_tweet{
        display: none;
    }
}